.singleBubble,
.doubleBubble {
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #3a8dff;
  margin-right: 3rem;
}

.singleBubble {
  width: 1.5rem;
}

.doubleBubble {
  min-width: 2rem;
}

.count {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
}
